.header {
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vh 0;
  height: 7vh;
}

.header-left {
  text-decoration: none;
  color: #fff;
}

.parents {
  padding: 2vh 0;
}

.header-left-genre {
  color: #fff;
  margin: auto 0;
}

.genre-lists {
  background-color: #fff;
  position: absolute;
  top: 7vh;
  left: 17.5vw;
  border: 1px solid #eeeeee;
  font-weight: bold;
}

.hidden {
  display: none;
}

.pull-down-list {
  padding: 5px 1vw;
}

.genre-list {
  color: black;
}

.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
}

.input-box {
  width: 100%;
  padding-left: 10px;
}

.user-management {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nickname {
 color: #fff;
 text-decoration: none;
 margin-right: 1vw;
}

.logout {
 color: #fff;
 text-decoration: none;
 margin-left: 1vw;
}

.login {
  color: #fff;
  text-decoration: none;
  margin-right: 1vw;
}

.sign-up {
  color: #fff;
  text-decoration: none;
  margin-left: 1vw;
}